.navContainer {
  display: flex;
  justify-content: center;
  width: 375px;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.showSidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  transform: translateX(0);
}

.showSidebar li {
  margin: 10px 0;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 1rem;
}

.navLinks a {
  text-decoration: none;
  font-weight: bolder;
}

.navLinks a:hover {
  text-decoration: underline;
}

.active {
  display: none;
}

.navLinks .active {
  color: rgba(96, 112, 255, 1);
  font-weight: bolder;
}

.hamMenu {
  font-size: 35px;
  margin-right: 10px;
  background-color: white;
  border: none;
}

.hamClose {
  font-size: 35px;
  margin-right: 10px;
  background-color: white;
  border: none;
}

@media only screen and (min-width: 375px) {
  .navContainer {
    width: 100%;
  }

  .active {
    display: block;
  }

  .navbar {
    width: 100%;
    position: fixed;
  }

  .hamMenu {
    display: none;
  }

  .hamClose {
    display: none;
  }

  .navLinks {
    display: flex;
    align-items: center;
  }

  .showSidebar {
    transform: translateX(-100%);
  }
}
