.navContainer {
  display: flex;
  justify-content: center;
  width: 375px;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 1rem;
}

.navLinks a {
  color: #333;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

.active {
  display: none;
}

.navLinks .active {
  color: rgba(96, 112, 255, 1);
  font-weight: bolder;
}

.hamMenu {
  font-size: 35px;
  margin-right: 10px;
}

@media only screen and (min-width: 375px) {
  .navContainer {
    width: 100%;
  }

  .active {
    display: block;
  }

  .navbar {
    width: 100%;
    position: fixed;
  }

  .hamMenu {
    display: none;
  }
}
