.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(109, 109, 235);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.showSidebar {
  transform: translateX(0);
}

.sidebarNavLinks {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  margin-top: 200px;
}

.sidebarNavLinks li {
  margin: 1rem;
}

.sidebarNavLinks ul {
  margin: 1rem;
}

.sidebarNavLinks a {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 35px;
}

.sidebarNavLinks a:hover {
  text-decoration: underline;
}

.showSidebarItems {
  display: block;
}
