.detailsContainer {
  width: 100%;
}

.detailsWrapper {
  margin-top: 50%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.detailsWrapp {
  display: flex;
  justify-content: center;
}

.small {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: none;
}

.demo {
  margin-left: 10px;
}

.react {
  font-size: 50px;
  margin-left: 10px;
}

.reacts {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

@media only screen and (min-width: 410px) {
  .detailsContainer {
    width: 100%;
  }

  .detailsWrapper {
    margin-top: 18%;
    width: 70%;
    object-fit: cover;
  }

  .detailsWrapp {
    display: flex;
    justify-content: center;
  }

  .small {
    display: flex;
    justify-content: center;
  }
}
